<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2526571984-m7uphhuf9r1qmhrj7tf5eqj36pnl9hnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2526571984-m7uphhuf9r1qmhrj7tf5eqj36pnl9hnm</string>
	<key>API_KEY</key>
	<string>AIzaSyDp8KDowsn4T9TK4wQjmDNeL1vcEj41dLU</string>
	<key>GCM_SENDER_ID</key>
	<string>2526571984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-eae92</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-eae92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2526571984:ios:016edaf6447392ab999dd5</string>
</dict>
</plist>